@using Abp.Configuration
<div>
    <form name="TenantSettingsForm" role="form" novalidate class="form-validation">
        <div ng-controller="tenant.views.settings.index as vm">
            <div class="row margin-bottom-5">
                <div class="col-xs-6">
                    <div class="page-head">
                        <div class="page-title">
                            <h1>
                                <span>@L("Settings")</span> <small>@L("SettingsHeaderInfo")</small>
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 text-right">
                    <button class="btn btn-primary blue" ng-click="vm.saveAll()"><i class="fa fa-floppy-o"></i> @L("SaveAll")</button>
                </div>
            </div>
            <div class="portlet light margin-bottom-0">
                <div class="portlet-body">
                    <uib-tabset class="tab-container tabbable-line" active="vm.activeTabIndex">
                        <uib-tab heading="@L("General")" ng-show="!vm.isMultiTenancyEnabled || vm.showTimezoneSelection">
                            <div ng-if="!vm.isMultiTenancyEnabled || vm.showTimezoneSelection">
                                <div class="form-group" ng-if="vm.showTimezoneSelection">
                                    <label class="control-label">@L("Timezone")</label>
                                    <timezone-combo selected-timezone="vm.settings.general.timezone" default-timezone-scope="@((int) SettingScopes.Tenant)" class="edited"></timezone-combo>
                                </div>
                                <div></div>
                            </div>

                            <div ng-if="!vm.isMultiTenancyEnabled">
                                <div class="form-group">
                                    <label>Miestas</label>
                                    <div class="input-group">
                                        <ui-select ng-model="vm.settings.addressRegistry.defaultCityId" name="AddressRegistryCity">
                                            <ui-select-match placeholder="Pasirinkite">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices refresh="vm.getAddressRegistryCities($select.search)"
                                                               refresh-delay="0" repeat="item.id as item in vm.addressRegistryCities | filter:$select.search">
                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn btn-right">
                                            <button class="btn btn-icon-only btn-default md-skip"
                                                    ng-click="vm.settings.addressRegistry.defaultCityId = null;"
                                                    type="button">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Failų saugojimo diske vieta</label>
                                <input class="form-control"
                                       type="text"
                                       name="diskFilePath"
                                       ng-model="vm.settings.general.diskFilePath" />
                            </div>
                        </uib-tab>
                        <uib-tab heading="@L("UserManagement")">
                            <div>
                                <h4>@L("FormBasedRegistration")</h4>
                                <div class="form-group">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @L("AllowUsersToRegisterThemselves")
                                        <input type="checkbox" name="AllowSelfRegistration" ng-model="vm.settings.userManagement.allowSelfRegistration">
                                        <span></span>
                                    </label>
                                    <span class="help-block">@L("AllowUsersToRegisterThemselves_Hint")</span>
                                </div>

                                <div class="form-group">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @L("NewRegisteredUsersIsActiveByDefault")
                                        <input type="checkbox" name="IsNewRegisteredUserActiveByDefault" ng-model="vm.settings.userManagement.isNewRegisteredUserActiveByDefault">
                                        <span></span>
                                    </label>
                                    <span class="help-block">@L("NewRegisteredUsersIsActiveByDefault_Hint")</span>
                                </div>

                                <div class="form-group">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @L("UseCaptchaOnRegistration")
                                        <input type="checkbox" name="UseCaptchaOnRegistration" ng-model="vm.settings.userManagement.useCaptchaOnRegistration">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div ng-if="!vm.isMultiTenancyEnabled && vm.settings.ldap.isModuleEnabled">
                                <h4>@L("LdapSettings")</h4>
                                <div class="form-group">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @L("EnableLdapAuthentication")
                                        <input type="checkbox" name="LdapIsEnabled" ng-model="vm.settings.ldap.isEnabled">
                                        <span></span>
                                    </label>
                                </div>


                                <div class="form-group" ng-show="vm.settings.ldap.isEnabled">
                                    <label class="control-label">@L("DomainName")</label>
                                    <input type="text" name="LdapDomainName" class="form-control" ng-model="vm.settings.ldap.domain" maxlength="128">
                                </div>
                                <div class="form-group" ng-show="vm.settings.ldap.isEnabled">
                                    <label class="control-label">@L("UserName")</label>
                                    <input type="text" name="LdapUserName" class="form-control" ng-model="vm.settings.ldap.userName" maxlength="128">
                                </div>
                                <div class="form-group" ng-show="vm.settings.ldap.isEnabled">
                                    <label class="control-label">@L("Password")</label>
                                    <input type="password" name="LdapPassword" class="form-control" ng-model="vm.settings.ldap.password" maxlength="128">
                                </div>
                            </div>
                            <div>
                                <h4>@L("OtherSettings")</h4>

                                <div class="form-group">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @L("EmailConfirmationRequiredForLogin")
                                        <input type="checkbox" name="IsEmailConfirmationRequiredForLogin" ng-model="vm.settings.userManagement.isEmailConfirmationRequiredForLogin">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading="@L("Security")">
                            <div>
                                <h4>@L("PasswordComplexity")</h4>
                                <div class="form-group">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @L("UseDefaultSettings")
                                        <input type="checkbox" name="Setting_PasswordComplexity_UseDefaultSettings" ng-model="vm.settings.security.useDefaultPasswordComplexitySettings">
                                        <span></span>
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">@L("MinPasswordLength")</label>
                                    <input type="number" name="MinPasswordLength" class="form-control" ng-model="vm.settings.security.passwordComplexity.minLength" ng-if="!vm.settings.security.useDefaultPasswordComplexitySettings">
                                    <input type="number" name="MinPasswordLength" class="form-control" ng-model="vm.settings.security.defaultPasswordComplexity.minLength" ng-if="vm.settings.security.useDefaultPasswordComplexitySettings" disabled>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">@L("MaxPasswordLength")</label>
                                    <input type="number" name="MaxPasswordLength" class="form-control" ng-model="vm.settings.security.passwordComplexity.maxLength" ng-if="!vm.settings.security.useDefaultPasswordComplexitySettings">
                                    <input type="number" name="MaxPasswordLength" class="form-control" ng-model="vm.settings.security.defaultPasswordComplexity.maxLength" ng-if="vm.settings.security.useDefaultPasswordComplexitySettings" disabled>
                                </div>

                                <div class="form-group">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @L("UseNumbers")
                                        <input type="checkbox" name="Setting_PasswordComplexity_UseNumbers" ng-model="vm.settings.security.passwordComplexity.useNumbers" ng-if="!vm.settings.security.useDefaultPasswordComplexitySettings">
                                        <input type="checkbox" name="Setting_PasswordComplexity_UseNumbers" ng-model="vm.settings.security.defaultPasswordComplexity.useNumbers" ng-if="vm.settings.security.useDefaultPasswordComplexitySettings" disabled>
                                        <span></span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @L("UseUpperCaseLetters")
                                        <input type="checkbox" name="Setting_PasswordComplexity_UseUpperCaseLetters" ng-model="vm.settings.security.passwordComplexity.useUpperCaseLetters" ng-if="!vm.settings.security.useDefaultPasswordComplexitySettings">
                                        <input type="checkbox" name="Setting_PasswordComplexity_UseUpperCaseLetters" ng-model="vm.settings.security.defaultPasswordComplexity.useUpperCaseLetters" ng-if="vm.settings.security.useDefaultPasswordComplexitySettings" disabled>
                                        <span></span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @L("UseLowerCaseLetters")
                                        <input type="checkbox" name="Setting_PasswordComplexity_UseLowerCaseLetters" ng-model="vm.settings.security.passwordComplexity.useLowerCaseLetters" ng-if="!vm.settings.security.useDefaultPasswordComplexitySettings">
                                        <input type="checkbox" name="Setting_PasswordComplexity_UseLowerCaseLetters" ng-model="vm.settings.security.defaultPasswordComplexity.useLowerCaseLetters" ng-if="vm.settings.security.useDefaultPasswordComplexitySettings" disabled>
                                        <span></span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @L("UsePunctuations")
                                        <input type="checkbox" name="Setting_PasswordComplexity_UsePunctuations" ng-model="vm.settings.security.passwordComplexity.usePunctuations" ng-if="!vm.settings.security.useDefaultPasswordComplexitySettings">
                                        <input type="checkbox" name="Setting_PasswordComplexity_UsePunctuations" ng-model="vm.settings.security.defaultPasswordComplexity.usePunctuations" ng-if="vm.settings.security.useDefaultPasswordComplexitySettings" disabled>
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div>
                                <h4>@L("UserLockOut")</h4>
                                <div class="form-group">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @L("EnableUserAccountLockingOnFailedLoginAttemts")
                                        <input type="checkbox" name="Setting_UserLockOut_IsEnabled" ng-model="vm.settings.security.userLockOut.isEnabled">
                                        <span></span>
                                    </label>
                                </div>

                                <div class="form-group" ng-if="vm.settings.security.userLockOut.isEnabled">
                                    <label class="control-label">@L("MaxFailedAccessAttemptsBeforeLockout")</label>
                                    <input type="number" name="MaxFailedAccessAttemptsBeforeLockout" class="form-control" ng-model="vm.settings.security.userLockOut.maxFailedAccessAttemptsBeforeLockout">

                                </div>
                                <div class="form-group" ng-if="vm.settings.security.userLockOut.isEnabled">
                                    <label class="control-label">@L("DefaultAccountLockoutDurationAsSeconds")</label>
                                    <input type="number" name="DefaultAccountLockoutSeconds" class="form-control" ng-class="{'edited':vm.settings.security.userLockOut.defaultAccountLockoutSeconds}" ng-model="vm.settings.security.userLockOut.defaultAccountLockoutSeconds">
                                </div>
                            </div>
                            <div ng-if="!vm.isMultiTenancyEnabled || vm.settings.security.twoFactorLogin.isEnabledForApplication">
                                <h4>@L("TwoFactorLogin")</h4>
                                <div class="form-group">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @L("EnableTwoFactorLogin")
                                        <input type="checkbox" name="Setting_TwoFactorLogin_IsEnabled" ng-model="vm.settings.security.twoFactorLogin.isEnabled">
                                        <span></span>
                                    </label>
                                </div>

                                <div class="form-group" ng-if="vm.settings.security.twoFactorLogin.isEnabled && !vm.isMultiTenancyEnabled">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @L("IsEmailVerificationEnabled")
                                        <input type="checkbox" name="Setting_TwoFactorLogin_IsEmailProviderEnabled" ng-model="vm.settings.security.twoFactorLogin.isEmailProviderEnabled">
                                        <span></span>
                                    </label>
                                </div>

                                <div class="form-group" ng-if="vm.settings.security.twoFactorLogin.isEnabled && !vm.isMultiTenancyEnabled">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @L("IsSmsVerificationEnabled")
                                        <input type="checkbox" name="Setting_TwoFactorLogin_IsSmsProviderEnabled" ng-model="vm.settings.security.twoFactorLogin.isSmsProviderEnabled">
                                        <span></span>
                                    </label>
                                </div>

                                <div class="form-group" ng-if="vm.settings.security.twoFactorLogin.isEnabled">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @L("AllowToRememberBrowserForTwoFactorLogin")
                                        <input type="checkbox" name="Setting_TwoFactorLogin_IsRememberBrowserEnabled" ng-model="vm.settings.security.twoFactorLogin.isRememberBrowserEnabled">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading="@L("EmailSmtp")" ng-if="!vm.isMultiTenancyEnabled">
                            <div class="form-group" ng-class="{'has-error': TenantSettingsForm.DefaultFromAddress.$invalid && TenantSettingsForm.DefaultFromAddress.$touched}">
                                <label class="control-label">@L("DefaultFromAddress") <span class="required" aria-required="true"> * </span></label>
                                <input type="email" name="DefaultFromAddress" class="form-control" ng-model="vm.settings.email.defaultFromAddress" required maxlength="@Lilis2.Authorization.Users.User.MaxEmailAddressLength">
                            </div>
                            <div class="form-group" ng-class="{'has-error': TenantSettingsForm.DefaultFromDisplayName.$invalid && TenantSettingsForm.DefaultFromDisplayName.$touched}">
                                <label class="control-label">@L("DefaultFromDisplayName") <span class="required" aria-required="true"> * </span></label>
                                <input type="text" name="DefaultFromDisplayName" class="form-control" ng-model="vm.settings.email.defaultFromDisplayName" required maxlength="128">
                            </div>
                            <div class="form-group" ng-class="{'has-error': TenantSettingsForm.SmtpHost.$invalid && TenantSettingsForm.SmtpHost.$touched}">
                                <label class="control-label">@L("SmtpHost") <span class="required" aria-required="true"> * </span></label>
                                <input type="text" name="SmtpHost" class="form-control" ng-model="vm.settings.email.smtpHost" required maxlength="64">
                            </div>
                            <div class="form-group" ng-class="{'has-error': TenantSettingsForm.SmtpPort.$invalid && TenantSettingsForm.SmtpPort.$touched}">
                                <label class="control-label">@L("SmtpPort") <span class="required" aria-required="true"> * </span></label>
                                <input type="number" name="SmtpPort" class="form-control" ng-model="vm.settings.email.smtpPort" required maxlength="5">
                            </div>
                            <div class="form-group">
                                <label class="mt-checkbox mt-checkbox-outline">
                                    @L("UseSsl")
                                    <input type="checkbox" name="SmtpEnableSsl" ng-model="vm.settings.email.smtpEnableSsl">
                                    <span></span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="mt-checkbox mt-checkbox-outline">
                                    @L("UseDefaultCredentials")
                                    <input type="checkbox" name="SmtpUseDefaultCredentials" ng-model="vm.settings.email.smtpUseDefaultCredentials">
                                    <span></span>
                                </label>
                            </div>
                            <div class="form-group" ng-class="{'has-error': TenantSettingsForm.SmtpDomainName.$invalid && TenantSettingsForm.SmtpDomainName.$touched}" ng-show="!vm.settings.email.smtpUseDefaultCredentials">
                                <label class="control-label">@L("DomainName") <span class="required" aria-required="true"> * </span></label>
                                <input type="text" name="SmtpDomainName" class="form-control" ng-model="vm.settings.email.smtpDomain" required maxlength="128">
                            </div>
                            <div class="form-group" ng-class="{'has-error': TenantSettingsForm.SmtpUserName.$invalid && TenantSettingsForm.SmtpUserName.$touched}" ng-show="!vm.settings.email.smtpUseDefaultCredentials">
                                <label class="control-label">@L("UserName") <span class="required" aria-required="true"> * </span></label>
                                <input type="text" name="SmtpUserName" class="form-control" ng-model="vm.settings.email.smtpUserName" required maxlength="128">
                            </div>
                            <div class="form-group" ng-class="{'has-error': TenantSettingsForm.SmtpPassword.$invalid && TenantSettingsForm.SmtpPassword.$touched}" ng-if="!vm.setRandomPassword" ng-show="!vm.settings.email.smtpUseDefaultCredentials">
                                <label class="control-label">@L("Password") <span class="required" aria-required="true"> * </span></label>
                                <input type="password" name="SmtpPassword" class="form-control" ng-model="vm.settings.email.smtpPassword" required maxlength="128">
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
    </form>
</div>
